<div class="modal">
    <div class="modal-form">
    <div class="modal-form-labels">
            <label for="male" class="modal-form-item" >Title</label>
            <label for="male" class="modal-form-item">Autor</label>
            <label for="male" class="modal-form-item">Year</label>
            <label for="male" class="modal-form-item">Pages</label>
    </div>
    <div class="modal-form-input">
            <input type="text"   class="modal-form-item" [(ngModel)]="currentBook.title"
			><br>
			<input type="text"    class="modal-form-item" [(ngModel)]="currentBook.author"
			><br>
			<input type="number"  class="modal-form-item" [(ngModel)]="currentBook.year" 
			><br>
			<input type="pages"  class="modal-form-item"  [(ngModel)]="currentBook.pages"
		    ><br>
            <input type="file"    class="modal-form-item" (change)="addImageName($event)"/> 
            <button (click)="bookRequests()">OK</button>
    </div>
  </div>
</div>

